.youtube-player{

    width:100%;


}

.youtube-player iframe{

    display:block;

    width:100%;
    aspect-ratio:9/16;

    border:none;
    border-radius:18px;

    background:#000;
    pointer-events:none;

}